<div id="container">
    <section id="box_1">
        <p>Who am I?</p>  
    </section>

    <section class="box" id="box_2">
        <h3> A blockchain lover</h3>
        <p class="txt">I'm a Junior Web Dev, passionate of web3, crypto currencies and defi. <br> 
         Currently, I'm learning Solidity and other fundamental tech related to web3. <br>
         Feel free to contact me on twitter or drop some Eth to my wallet. <br>
         <i>0x38b0E59d99aB2fAB08637f2A2EfE3e3d8A9e0261</i>
        </p>
    </section>
    
    <section class="box" id="box_3">
       <h3>  Powered by </h3>
      <section id="logo"> 
        <img class="logo-cloudfare" src="../../../assets/cloudfare.png" alt="cloudfare">
        <img class="logo-eth" src="../../../assets/eth-logo.png" alt="ethereum">
      </section>
    </section>
</div>