<div id="container">
    <table id="tab">
        <thead>
            <tr>
                <th class="pad-min">Block</th>
                <th class="pad-min">Transactions</th>
                <th class="pad-min">Size</th>
                <th class="pad-min">Difficulty</th>
                <th class="pad-min">Date</th>

            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="pad-min">1858963</td>
                <td class="pad-min">174</td>
                <td class="pad-min">10 KB</td>
                <td class="pad-min">11.40 P</td>

                <td class="pad-min">22 sec</td>
            </tr>
             <tr>
                <td class="pad-min">1858964</td>
                <td class="pad-min">150</td>
                <td class="pad-min">12 KB</td>
                <td class="pad-min">10.54 P</td>

                <td class="pad-min">22 sec</td>
            </tr>
            <tr>
                <td class="pad-min">1858965</td>
                <td class="pad-min">179</td>
                <td class="pad-min">8 KB</td>
                <td class="pad-min">10.54 P</td>
                <td class="pad-min">22 sec</td>
            </tr>
             <tr class="pad-min"> 
                <td class="pad-min">1858966</td>
                <td class="pad-min">110</td>
                <td class="pad-min"> 18.5 P</td>
                <td class="pad-min">22 sec</td>
            </tr>
        </tbody>
    </table>
</div>