<div id="container">
    <table id="tab">
        <thead>
            <tr>
                <th class="pad-min">Block</th>
                <th class="pad-min">Transactions</th>
                <th class="pad-min">Size</th>
                <th class="pad-min">Difficulty</th>
                <th class="pad-min">Date</th>

            </tr>
        </thead>
        <tbody>
            <tr class="border-b" *ngFor="let blockItem of blocks">
                <td class="pad-min">{{blockItem.number}}</td>
                <td class="pad-min">{{blockItem.transactions}}</td>
                <td class="pad-min">{{blockItem.size}}</td>
                <td class="pad-min">{{blockItem.difficulty}} </td>

                <td class="pad-min">{{blockItem.date}}</td>
            </tr>
            
        </tbody>
    </table>
</div>