#container{
    width: 66rem;
    height: 31rem;
    border-radius: 10px;
    background: #FFFFFF;
    opacity: 0.9;
    border: #2831b7 solid 1px;
    margin: auto;
    position: relative;
    top : 6rem;
    color: rgb(1, 5, 3);
    padding-top: 2em;
}
#tab{
    padding: 2em 1em 2em 1em;
    margin : auto;
    width: 60rem;
    height: auto;
    box-shadow: 2px 5px 5px -3px #0003,2px 8px 10px 1px #00000024,2px 3px 14px 2px #0000001f;
    /* border-radius: 10px; */
}
.pad-min{
    padding: 5px;
}
tr>td{
    font-size: 14px;
}
table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

 
