<div id="container">
    <table id="tab">
        <thead>
            <tr>
                <th class="pad-min">From</th>
                <th class="pad-min">Amount</th>
                <th class="pad-min">To</th>
                <th class="pad-min">Age</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="pad-min">2.3</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">22 sec</td>
            </tr>
             <tr>
                <td class="pad-min">2.3</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">22 sec</td>
            </tr>
            <tr>
                <td class="pad-min">2.3</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">22 sec</td>
            </tr>
             <tr class="pad-min"> 
                <td class="pad-min">2.3</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B</td>
                <td class="pad-min">22 sec</td>
            </tr>
        </tbody>
    </table>
</div>